{% load static %}
{% load i18n %}
{% load login_form %}
{% load education_level %}
{% load pustakalaya_filters %}
{% get_language_info_list for LANGUAGES as languages %}


<!--THis 2 div closing is in the footer page-->
<div class="" style="margin:0px 0px 5px 0px;padding:0px;">
<div class=""  style="margin:0px;padding:0px;">

<div id="olenavbar">
    <div class="container parent-cont">
        <div class="row">
            <!-- 2 column logo -->
            <div id="logo-cont" class="col-md-3  col-xs-12 col-sm-12">
                <!-- logo get overflow here -->
               <a href="/">
                    <img class="logo"
                style="cursor:pointer"
                 src="{% static 'images_new/pustlogo.png' %}" alt="ole logo" />
               </a>
            </div>
            <!-- 4 column search and nav1 -->
            <div class="col-md-5 col-xs-12 col-sm-12 sec-menu-cont">
                <!-- first row -->
                <div class="row">
                    <div class="col-md-12 col-sm-10 col-xs-10">
                        <!-- search bar -->
                        <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
                            <symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-search-13" viewBox="0 0 40 40">
                                <path d="M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z"
                                    fill-rule="evenodd" />
                            </symbol>
                            <symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-clear-3" viewBox="0 0 20 20">
                                <path d="M8.114 10L.944 2.83 0 1.885 1.886 0l.943.943L10 8.113l7.17-7.17.944-.943L20 1.886l-.943.943-7.17 7.17 7.17 7.17.943.944L18.114 20l-.943-.943-7.17-7.17-7.17 7.17-.944.943L0 18.114l.943-.943L8.113 10z"
                                    fill-rule="evenodd" />
                            </symbol>
                        </svg>
                        <form novalidate="novalidate"
                        method="GET"
                        action="/search"
                        class="searchbox sbx-custom">
                            <div role="search" class="sbx-google__wrapper"  style="height:35px;">
                              <div class="ole-custom-select">
                                    <select name="searchIn"
                                    onchange="setPadding()"
                                     id="searchIn">
                                      <option value="all"
                                      {% if  selected_doc_type == "all" %} selected {% endif %}
                                      > {% trans "All" %}</option>
                                      <option value="document"
                                      {% if  selected_doc_type == "document" %} selected {% endif %}
                                      >{% trans "Document" %}</option>
                                      <option value="audio"
                                      {% if  selected_doc_type == "audio" %} selected {% endif %}
                                      >{% trans "Audio" %}</option>
                                      <option value="video"
                                      {% if  selected_doc_type == "video" %} selected {% endif %}
                                      >{% trans "Video" %}</option>
                                      
                                    </select>
                                </div>

                
                            <style>
                            #project-label {
                                display: block;
                                font-weight: bold;
                                margin-bottom: 1em;
                            }
                            #project-icon {
                                float: left;
                                height: 32px;
                                width: 32px;
                            }
                            #project-description {
                                margin: 0;
                                padding: 0;
                            }
                            </style>
                            <!-- load autosuggestion script -->
                            <script src="{% static 'base_assets/js/core/jquery-ui.js' %}"></script>
                            <script>
                            // script to query the data
                            $( function($) {


                                    $.fn.getSuggestion = function (event) {

                                       $( "#project" ).autocomplete({

                                            minLength: 0,
                                            source: function( request, response ) {
                                                 if(event.target.value.length <2) return true;
                                                 $.ajax({
                                                type: 'GET',
                                                url:  '/search/completion/?suggest_text='+event.target.value,
                                                dataType:"json",
                                                success: function (data) {
                    
                                                data = JSON.parse(data);

                                                var projects = []; // array

                                                data.forEach(function (element) {
                                                    var item = {
                                                        "title": element.text,
                                                        "label":element.text
                                                    };
                                                    // Add to projects

                                            

                                                   projects.push(item);    

                                                    
                                                }); // end for each

                                                response(projects);
                                            } // end success method

                                            })// end ajax
                                          },
                                            focus: function( event, ui ) {
                                                $( "#project" ).val( ui.item.label );
                                                return false;
                                            },
                                            select: function( event, ui ) {
                                                $( "#project" ).val( ui.item.label );
                                                $( "#project-id" ).val( ui.item.value );
                                                $( "#project-description" ).html( ui.item.desc );
                                                $( "#project-icon" ).attr( "src", "images/" + ui.item.icon );

                                                return false;
                                            }
                                            })
                                            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                                            return $( "<li>")

                                                .append("<div><a href='/search/?form-filter=&q="+item.label +"'"+"><div>" + item.label  +   "</div></a></div>" )
                                                .appendTo( ul );
                                            };


                                      }  // getSuggestion End


                                    });
                            </script>
                            <!-- <input id="project1" onkeypress="getSuggestion(event);"> -->
                            <input type="hidden" id="project-id">
                            <!-- needed where suggested item are appened -->
                            <p id="project-description"></p>
                            <script>
                            (function (window) {
                                    window.searchSuggestion = function (event) {



                                if (event.keyCode === 13) {

                                   
                                }
                            }
                            })(window);

                            </script>


                            <input type="search" name="q"
                            placeholder="Search E-Pustakalaya"
                            id="project" 
                            value="{{q}}"
                            onkeypress="searchSuggestion(event);" 
                            onkeyup="$.fn.getSuggestion(event)"
                            autocomplete="off" required="required" class="sbx-custom__input">
                            <button type="submit" title="Submit your search query." class="sbx-custom__submit">
                                <svg role="img" aria-label="Search">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sbx-icon-search-13"></use>
                                </svg>
                            </button>
                            <button type="reset" title="Clear the search query." class="sbx-custom__reset">
                                <svg role="img" aria-label="Reset">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sbx-icon-clear-3"></use>
                                </svg>
                            </button>
                        </div>
                    </form>


                        <script type="text/javascript">
                            document.querySelector('.searchbox [type="reset"]').addEventListener('click', function () { this.parentNode.querySelector('input').focus(); });
                        </script>


                        <span id="burger-menu">
                          &#9776;
                        </span>

                        <script type="text/javascript">
                            document.querySelector('.searchbox [type="reset"]').addEventListener('click', function () { this.parentNode.querySelector('input').focus(); });
                        </script>

                    </div>
                </div>
                <!-- second row-->
                <div class="row" id="primary-navbar">
                    <div class="col-md-12">
                        <ul id="menu">
                            <li>
                                <a href="/search/?form-filter=&q=">{% trans "TITLES" %}</a>
                            </li>
                            <li>
                                <a href="/authors">{% trans "AUTHOR" %}</a>
                            </li>
                            <li>
                                <a href="">{% trans "CATEGORIES" %} &#9662;</a>
                                <ul class="dropdown-items">
                                    <li>
                                        <a href="/community/literatures-and-arts/"><i class="fa fa-book"></i> Literature And Arts</a>
                                    </li>
                                    <li>
                                        <a href="/community/course-materials/"><i class="fa fa-desktop"></i> Course Materials</a>
                                    </li>
                                    <li>
                                        <a href="/community/teaching-materials/"><i class="fa fa-graduation-cap"></i> Teaching Materials</a>
                                    </li>

                                    <li>
                                        <a href="/community/reference-materials/"><i class="fa fa-briefcase"></i> Reference Materials</a>
                                    </li>
                                    <li>
                                        <a href="/community/other-educational-materials/"><i class="fa fa-flask"></i> Other Educational Materials</a>
                                    </li>
                                    <li>
                                        <a href="/community/newspaper-and-magazines/"><i class="fa fa-newspaper-o"></i> Newspapers & Magazines</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <!--<a href='/search/?q=&form-filter={"type":[],"languages":[],"education_levels":["Primary+Level","Secondary+Level"],"communities":[],"collections":[],"keywords":[],"license_type":[]}'>{% trans "LEVEL" %} &#9662;</a>-->
                              <a href=''>{% trans "LEVEL" %} &#9662;</a>

                              <ul class="dropdown-items" style="overflow-y: auto;max-height: 300px;">

                                  {% show_results  %}

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 4 column nav2-->
            <div class="col-md-4 col-xs-12 col-sm-12">
                <ul id="menu" class="secondary-navbar">
                    <li>
                        <a href="{% url 'about' %}">{% trans "About" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'feedback' %}">{% trans "Feedback" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'help' %}">{% trans "Help" %}</a>
                    </li>
                    <!-- language selection section -->
                    <li>



                            <form action="{% url 'set_language' %}" method="post" id="changeLanguageForm" >
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% csrf_token %}
                                    <!-- Change value to current_url without language -->
                                    <input name="next" type="hidden" value="/"/>
                                    <!-- language value default is english -->
                                    <input type="hidden" name="language" value="en" />
                                    <!-- don't change the name language -->
                                    {% if LANGUAGE_CODE == "en" %}
                                        <!-- <i class="flag-icon flag-icon-gb"></i> -->
                                        <a href="/"><img class="oleflags" src="{% static 'images_new/gb.png' %}" alt="ole logo" /> {% trans "English" %} &#9662;</a>

                                    {% endif %}

                                    {% if LANGUAGE_CODE == "ne" %}
                                    <!-- <i class="flag-icon flag-icon-gb"></i> -->
                                    <!-- <a href="#"><img class="oleflags" src="{% static 'images_new/gb.png' %}" alt="ole logo" /> English &#9662;</a> -->
                                    <a href="/"><img class="oleflags" src="{% static 'images_new/nepal.png' %}" alt="ole logo" /> {% trans "नेपाली" %}</a>

                                    {% endif %}
                                </form>



                        <!-- <a href="#"><img class="oleflags" src="{% static 'images_new/gb.png' %}" alt="ole logo" /> English &#9662;</a> -->

                        <ul class="dropdown-items">
                                {% get_available_languages as LANGUAGES %}
                                {% for lang in LANGUAGES %}
                            <li style="padding-bottom: 5px; padding-top:5px; cursor:pointer;">



                                    <!-- detect on click on this a tag and post to server -->
                                    <a
                                    onclick="change_language(this)"
                                    data-lang={{lang.0}}
                                    class="lang-name"
                                    style="padding-bottom: 5px; padding-top:5px; cursor:pointer; width:100%"
                                    >
                        
                                        <img class="oleflags" src="{% if lang.0 == "ne" %}
                                        {% static 'images_new/nepal.png' %}
                                        {% endif %}
                                        {% if lang.0 == "en" %}
                                        {% static 'images_new/gb.png' %}
                                        {% endif %}


                                        " alt="ole logo" />
                                        {{ lang.1 }}
                                    </a>


                            </li>
                            {% endfor %}



                        </ul>
                    </li>
                    <!-- end language selection form -->



                        {% if not  user.is_authenticated %}
                        <li>
                            <a href="/accounts/login" class="text-white"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <span class="icon-password"></span> {% trans "Log In" %}
                            </a>


                        </li>
                    {% endif %}


                    {% if user.is_authenticated %}

                    <li>
                        <a class="text-white text-capitalize"
                           href="{% if request.user.is_superuser %}/admin/{% else %}/dashboard/{% endif %}"
                           id="navbarDropdownMenuLink"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            {{request.user}} &#9662;
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size:100%;">
                            <a class="dropdown-item text-primary text-capitalize"
                               href="{% if request.user.is_superuser %}/admin/{% else %}/dashboard/{% endif %}">{% trans "profile" %}</a>
                            <a class="dropdown-item text-primary text-capitalize"
                               href="{% if request.user.is_superuser %}/accounts/logout{% else %}/accounts/logout{% endif %}">{% trans "logout" %}</a>
                            </div>
                    </li>
                {% endif %}

                </ul>
            </div>

        </div>
        <!-- end main row -->
    </div>
    <!-- end container -->

</div>

<!-- markup for mobile view -->
<div class="sidenav">
        <a href="/search/?form-filter=&q=">{% trans "Titles" %}</a>
        <a href="/authors">{% trans "Author" %}</a>
        <button class="dropdown-btn">{% trans "Categories" %}
          ▾
        </button>
        <div class="dropdown-container">
          <a href="/community/literatures-and-arts/ ">{% trans "Literature &amp; Arts" %}</a>
          <a href="/community/course-materials/">{% trans "Course Materials" %}</a>
          <a href="/community/teaching-materials/">{% trans "Teaching Materials" %}</a>
          <a href="/community/reference-materials/">{% trans "Reference Materials" %}</a>
          <a href="/community/other-educational-materials/">{% trans "Other Educational Materials" %}</a>
          <a href="/community/newspaper-and-magazines/">{% trans "Newspapers &amp; Magazines" %}</a>
        </div>
        <button class="dropdown-btn">{% trans "Level" %}
          ▾
        </button>
        <div class="dropdown-container">
          {% show_results  %}
        </div>
        <button class="dropdown-btn">{% trans "Language" %}
          ▾
        </button>
        <div class="dropdown-container">
                <li>



                        <form action="{% url 'set_language' %}" method="post" id="changeLanguageForm" >
                                {% get_current_language as LANGUAGE_CODE %}
                                {% csrf_token %}
                                <!-- Change value to current_url without language -->
                                <input name="next" type="hidden" value="/"/>
                                <!-- language value default is english -->
                                <input type="hidden" name="language" value="en" />
                                <!-- don't change the name language -->
                                {% if LANGUAGE_CODE == "en" %}
                                    <!-- <i class="flag-icon flag-icon-gb"></i> -->
                                    <a href="/"><img class="oleflags" src="{% static 'images_new/gb.png' %}" alt="ole logo" /> {% trans "English" %} &#9662;</a>

                                {% endif %}

                                {% if LANGUAGE_CODE == "ne" %}
                                <!-- <i class="flag-icon flag-icon-gb"></i> -->
                                <!-- <a href="#"><img class="oleflags" src="{% static 'images_new/gb.png' %}" alt="ole logo" /> English &#9662;</a> -->
                                <a href="/"><img class="oleflags" src="{% static 'images_new/nepal.png' %}" alt="ole logo" /> {% trans "नेपाली" %}</a>

                                {% endif %}



                            </form>




                    <ul class="dropdown-items" style="list-style:none;">
                            {% get_available_languages as LANGUAGES %}
                            {% for lang in LANGUAGES %}
                        <li style="padding-bottom: 5px; padding-top:5px; cursor:pointer;">



                                <!-- detect on click on this a tag and post to server -->
                                <a
                                onclick="change_language(this)"
                                data-lang={{lang.0}}
                                class="text-white"
                                >
                                    <img class="oleflags" src="{% if lang.0 == "ne" %}
                                    {% static 'images_new/nepal.png' %}
                                    {% endif %}
                                    {% if lang.0 == "en" %}
                                    {% static 'images_new/gb.png' %}
                                    {% endif %}


                                    " alt="ole logo" />
                                    {{ lang.1 }}
                                </a>


                        </li>
                        {% endfor %}

                    </ul>
                </li>
        </div><!-- language close in mobile view-->
        <!-- <a href="#contact">Log In</a> -->


        {% if user.is_authenticated %}

        <li class="nav-item dropdown small-device-small-font" >
            <a class="nav-link dropdown-toggle text-primary text-capitalize nav-item-hover"

               href="{% if request.user.is_superuser %}/admin/{% else %}/dashboard/{% endif %}"


               id="navbarDropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{request.user}}
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size:100%;">
                <a class="dropdown-item text-primary text-capitalize"
                   href="{% if request.user.is_superuser %}/admin/{% else %}/dashboard/{% endif %}">{% trans "profile" %}</a>
                <a class="dropdown-item text-primary text-capitalize"
                   href="{% if request.user.is_superuser %}/accounts/logout{% else %}/accounts/logout{% endif %}">{% trans "logout" %}</a>
                </div>
        </li>
    {% endif %}


   {% if not  user.is_authenticated %}
        <li class="nav-item dropdown small-device-small-font text-center" style="list-style:none" >
            <a href="/accounts/login" class="nav-link  text-primary nav-item-hover text-white"
               aria-haspopup="true"
               aria-expanded="false">
                <span class="icon-password text-white"> {% trans "Log In" %}   </span>
            </a>


        </li>
    {% endif %}
</div>



<!-- script to reload selected country -->
<script>
    (function (window) {

        window.change_language = function (element) {

            // get the form.
            var changeLanguageForm = document.getElementById("changeLanguageForm");

            // Select language input
            var languageInputField = changeLanguageForm.elements.language;

            // User selected language
            var language_Code = element.getAttribute('data-lang') || "en"; // get selected language.

            // set the user selected languge to input field
            languageInputField.setAttribute('value', language_Code);
            // submit the form.
            changeLanguageForm.submit();
        }

        $(".sbx-custom__reset  svg").on('click', function(){
            // console.log($("#project"));
            $("#project").attr('value', '');

        });


    })(window);
    
    
</script>
