
<!-- page navigation -->
<div class="row" style="margin-top: 40px;">
  <div class="col-md-12">
    <!-- pagination method 1 -->
    <div class="mt-3">
      <span class="step-links">
        <div class="table-pagignation">
          <ul class="pagination pagination-primary">

            {% if page_obj.has_previous %}
            <li class="">
              <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class=" page-link1"><i class="fa fa-angle-left" style="display: inline; font-size: 18px;"></i></a>
            </li>
            {% endif %}



            <!--first page-->



          <!--first page-->
          {% if page_obj.has_next or  page_obj.has_previous%}
            {% if page_obj.number != 1 %}
       {% if page_obj.number >  10 %}
            <li class="page-item active">
              <a  href="?page={{ 1 }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="page-link1">{{ 1}}</a>
            </li>
            <li>...</li>
            {% endif %}
            {% endif %}
      {% endif %}


      {% if page_obj.has_next or  page_obj.has_previous%}
        {% for p in paginator.page_range %}
            {% if p <   page_obj.number|add:3 and p > page_obj.number|add:-3 %}
            <li class="page-item active" style="margin:0px">
              <a href="?page={{ p }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"{% ifequal p page_obj.number %} class=" page-link" {% endifequal %} class="page-link1">{{ p }}</a>
            </li>
            {% endif %}

        {% endfor %}
      {% endif %}


            <!--last page-->
        <!--last page-->
          {% if page_obj.has_next or  page_obj.has_previous%}
            {% if page_obj.number != paginator.num_pages %}
       {% if page_obj.number < paginator.num_pages|add:-5 %}
            <li>...</li>
            <li class="page-item active">
              <a href="?page={{ paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="page-link1">{{ paginator.num_pages }}</a>
            </li>
            {% endif %}
            {% endif %}
      {% endif %}

          {% if page_obj.has_next %}
            <li class="page-item">
              <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="next disabled page-link1"><i class="fa fa-angle-right" style="display: inline; font-size: 18px;"></i></a>
            </li>
            {% endif %}

          </ul>

        </div>
      </span>
    </div>
  </div>
</div>

