{% extends 'base.html' %}
{% load i18n %}
{% load pustakalaya_filters %}
{% load static %}

{% block content %}

<!--New div container -->

<!--REMOVE THIS LATER-->
 <input type="hidden" name="content_type" value="video"/>
 <input type="hidden" name="content_id" value="{{ object.pk }}">
  {% if user %}
  <input type="hidden" name="user" value="{{ user }}">
  {% endif %}

<!--End of remove this later-->
<div class="main-contain">
  <div class="container">
    <div class="row" style="margin: 15px 0px;">
      <div class="col-md-12" style="padding: 0px;">

        {% if object.collections.all%}
        <span class="container-breadcrum bold">
          <!-- Bread crums -->
          {% for collection in object.collections.all %}
          {% if forloop.first %}
          <a href="/community/{{collection.community_name.split|join:"-" | transtolocal }}">{{collection.community_name | transtolocal  }}</a>&emsp;

          <span style="color: #00838F;"> <i class="fa fa-caret-right"></i></span>&emsp;
          {% endif %}

          <a href="{% url "collection:collection_detail" collection.collection_name|slugify collection.pk %}">
          {{ collection.collection_name | transtolocal }}
          </a>
          {%  if not forloop.last %} ,{%  endif %}
          {% endfor %}
        </span>
        {% endif %}

      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">

          <h5 id="det-book-title" class="text-capitalize">{{ object.title }}</h5>
          <!--<p>By: <span><a href="#">Antone Checov</a></span> </p>-->
      </div>
    </div>

    <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12 ole-vdo-cont">
                <video class="video-js vjs-default-skin" width="100%" height="450px"
                       id="selectedVideo" controls="controls" loop controlsList="nodownload" preload="auto"
                       style="border: 5px solid rgba(127,140,141,0.11)"
                       src="{{ MEDIA_URL }}{{ object.videofileupload_set.first.upload }}"
                       type="video/mp4"
                       data-setup='{ "aspectRatio":"640:360", "playbackRates": [1, 1.5, 2] }'>
                </video>
            </div>
            <div id="videoList" class="col-md-4 col-sm-12 col-xs-12 ole-playlist-cont" style="max-height: 450px; width:426px; overflow-y: scroll;">

               {% for video in object.videofileupload_set.all %}
                        <div class="indv-play" style="width:100%;max-height:100px;margin-bottom:5px;">
                           <span style="cursor: pointer;"
                                  data-src="{{ MEDIA_URL }}{{ video.upload }}"
                                  data-title="{{ video.file_name }}"
                                  onclick="playVideo(this)" class="
                                  {% if forloop.counter == 1 %}
                                  text-primary
                                  show-playing-msg
                                   {% else %}
                                   hide-playing-msg
                                   text-white
                                   {% endif %}
                                  text-capitalize" >

                          <div class="video-thumb video-elems">

                            <div class="now-playing">
                              <p class="playing-msg-p">Now Playing</p>
                            </div>
                            <img src="
                            {% if video.thumbnail %}
                            {{ MEDIA_URL }}{{ video.thumbnail }}
                            {% else %}
                            {% static 'images_new/video_thumnail.png' %}
                            {% endif %}"
                             alt="ole logo" style="max-height:100px;" />
                          </div>
                              <div>
                                 {{ forloop.counter }}.&nbsp;
                                {% if video.file_name %}
                               {{ video.file_name }}
                              {% else %}
                              Video{{forloop.counter}}
                              {% endif %}
                          </div>
                            </span>

                        </div>
              {% endfor %}




            </div>
        </div>

    <div class="row">
      <div class="col-md-3 det-img-cont">

        {%  if request.user.is_superuser %}
         <div class="col-12 text-primary description mb-2">
          <a href="{{ object.get_admin_url }}" class="btn btn-sm btn-secondary">{%  trans "Edit" %}</a>
         </div>
       {%  endif %}



        <!--Review btn for model button-->
        <button type="button" class="btn ole-btn-trans" data-toggle="modal" data-target="#myModal" style="margin-bottom: 1rem;"><i class="fa fa-comment det-rev-active"></i> Leave a Review</button>
        <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <!--<form>-->
              <div class="modal-header">
                <h4 class="modal-title">Write a Review</h4>
                <button type="button" id="close_model_box" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                    <label for="pwd">Title:</label>
                    <input type="text" class="form-control" id="pwd1" name="title_input" maxlength="255" autofocus>
                    <label for="comment">Message:</label>
                    <textarea type="text" name="input" class="form-control bg-white" placeholder="Your review message"></textarea>

                  </div>
              </div>
              <div class="modal-footer">
               <button type="button" value="Submit" id="submitButton" class ="btn btn-primary"  >Add your review</button>
              </div>
            <!--</form>-->
            </div>
          </div>
        </div>



        <!-- Different models used in this document-->
        <!--User info model-->

        <!--User info  Modal -->
          <button type="button" style="display: none;"  value="Submit" id="info_message_display"  data-toggle="modal" data-target="#myModalUserInfo" ></button>
          <div class="modal fade" id="myModalUserInfo" role="dialog">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                  <h4 class="modal-title">Information</h4>
                </div>
                <div class="modal-body">
                  <p id="information_message_p_tag">Info message</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        <!--close of user info model-->

        <!-- Edit review model  -->
        <button type="button" id="edit_hidden_btn"  data-toggle="modal" data-target="#myModalForEdit" style="display:none"></button>
        <div class="modal fade" id="myModalForEdit" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <!--<form>-->
              <div class="modal-header">
                <h4 class="modal-title">Edit Review</h4>
                <!--<button type="button" id="close_model_box" class="close" data-dismiss="modal">&times;</button>-->
              </div>
              <div class="modal-body">
                  <div class="form-group">
                    <input type="hidden" id="edited_message_id" value="" >
                    <label for="pwdEdit">Title:</label>
                    <input type="text" class="form-control" id="edited_title_input" name="edited_title_input" maxlength="255" autofocus>
                    <label for="commentEdit">Message:</label>
                    <textarea type="text" name="edited_message_input" id="edited_message_input" class="form-control bg-white" placeholder="Your review message"></textarea>

                  </div>
              </div>
              <div class="modal-footer">
                <button type="button"  class="btn btn-primary" id="edited_cancel_button" data-dismiss="modal">Cancel</button>
               <button type="button" value="Submit" id="submitButtonForEdit" class ="btn btn-primary" onclick="sendButtonClick()" ><i class="fa fa-telegram"></i> Send</button>
              </div>
            <!--</form>-->
            </div>
          </div>
        </div>

        <!--End Edit review model  -->

        <!--Yes no   Modal -->
          <button type="button" style="display: none;"  value="Submit" id="yes_no_message_display"  data-toggle="modal" data-target="#myModalYesNo" ></button>
          <div class="modal fade" id="myModalYesNo" role="dialog">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <input type="hidden" id="message_delete_id" value="">
                  <h4 class="modal-title">Information</h4>
                </div>
                <div class="modal-body">
                  <p id="yes_no_message_p_tag">Are you sure you want to delete this message?</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteButtonYes()"  data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>

        <!--close of user info model-->

        <!--End of  Different models used in this document-->



        </div>

        <!--End for For review -->

      <div class="col-md-9">

      <br>
      <br>



      <p>{{ object.abstract }}</p>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-target="#details" role="tab" data-toggle="tab">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-target="#reviews" role="tab" data-toggle="tab">Reviews</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active in" id="details">
          <div class="table-responsive">
            <table class="table">
              <thead>
              </thead>
              <tbody>


                <!-- publisher section -->
                  {% if  object.publisher.all %}
                   <tr>
                  <th scope="col">{% trans "Publisher(s):" %}</th>
                  <td>
                     {% for publisher in object.publisher.all %}
                        {{ publisher.publisher_name }}
                        {%  if not forloop.last %},{%  endif %}
                     {% endfor %}
                  </td>
                </tr>
                  {% endif %}

                <!--original authors-->
                {% if  object.video_original_document_authors.all %}
                <tr>
                  <th scope="col">{% trans "Original author(s):" %}</th>
                  <td>
                    {% for author in object.video_original_document_authors.all %}
                      <a href="{% url 'author:author_detail' author.getname|slugify_unicode author.pk %}">
                        {{ author }}
                      </a>
                      {%  if not forloop.last %}
                                ,
                      {%  endif %}
                     {% endfor %}
                  </td>
                </tr>
                {% endif %}

              <!-- release date -->
              {% if  object.video_release_date %}
              <tr>
                  <th scope="col">{% trans "Release date:" %}</th>
                  <td>{{ object.video_release_date }}</td>
                </tr>
              {% endif %}


                <!-- place of publication -->
              {% if  object.place_of_publication %}
              <tr>
                  <th scope="col">{% trans "Place of Publication:" %}</th>
                  <td>{{ object.place_of_publication }}</td>
                </tr>
              {% endif %}



                 <!-- Publication year -->
              {% if object.publication_year_on_text %}
              <tr>
                  <th scope="col">{% trans "Publication year:" %}</th>
                  <td>{{ object.publication_year_on_text }}</td>
                </tr>
               {% endif %}

              {% if object.year_of_available_on_text %}
                <!-- Available year -->
              <tr>
                  <th scope="col">{% trans "Available year:" %}</th>
                  <td>{{ object.year_of_available_on_text }}</td>
                </tr>
              {% endif %}


               <!-- Keywords -->
              {% if object.keywords.all %}
                <tr>
                  <th scope="col">{% trans "Keyword(s):" %}</th>
                  <td>
                    {% for keyword in object.keywords.all %}
                            <a href="{% url 'keyword:keyword_detail' keyword.keyword %}">{{ keyword.keyword }}</a>
                      {%  if not forloop.last %}
                                            ,
                      {%  endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endif %}


              {% if object.license.license %}
                  <!-- License type -->
                  <tr>
                    <th scope="col">{% trans "License type:" %}</th>
                    <td>{{ object.license.license }}</td>
                  </tr>
              {% endif %}

                <!-- video series -->
              {% if object.video_series %}
                <tr>
                  <th scope="col">{% trans "Series:" %}</th>
                  <td>{{ object.video_series }}</td>
                </tr>
              {% endif %}



              <!-- video volume -->
              {% if object.volume %}
                <tr>
                  <th scope="col">{% trans "Volume:" %}</th>
                  <td>{{ object.volume }}</td>
                </tr>
              {% endif %}

                 <!-- video edition -->
              {% if object.edition %}
                <tr>
                  <th scope="col">{% trans "Edition:" %}</th>
                  <td>{{ object.edition }}</td>
                </tr>
              {% endif %}




               <!-- video running time -->
              {% if  object.video_running_time %}
               <tr>
                  <th scope="col">{% trans "Running time" %}</th>
                  <td>{{ object.video_running_time }}</td>
                </tr>
              {% endif %}

                <!-- video director time -->
              {% if  object.video_director.all %}
                <tr>
                  <th scope="col">{% trans "Video director" %}</th>
                  <td>
                    {% for author in object.video_director.all %}
                      <a href="{% url 'author:author_detail' author.getname|slugify_unicode author.pk %}">
                        {{ author }}
                      </a>
                      {%  if not forloop.last %}
                                ,
                      {%  endif %}
                     {% endfor %}
                  </td>
                </tr>
              {% endif %}


              <!-- Video producer -->
              {% if  object.video_producers.all %}
                 <tr>
                    <th scope="col">{% trans "Video producer" %}:</th>
                    <td>
                        {% for producer in object.video_producers.all %}
                           {{ producer }}
                      {%  if not forloop.last %}
                      ,
                     {%  endif %}
                      {% endfor %}
                    </td>
                  </tr>
              {% endif %}



                 <!-- video certificate license -->
              {% if  object.video_certificate_license %}
               <tr>
                  <th scope="col">{% trans "Certificate license" %}:</th>
                  <td>{{ object.video_certificate_license }}</td>
                </tr>
               {% endif %}


              <!-- video age group -->
              {% if  object.age %}
                <tr>
                  <th scope="col">{% trans "Age group:" %}</th>
                  <td>{{ object.age }}</td>
                </tr>
              {% endif %}


               <!-- video genre -->
               {% if  object.video_genre.all %}
                 <tr>
                <th scope="col">{% trans "genre" %}:</th>
                <td>
                    {% for genre in object.video_genre.all %}
                  {{ genre.custom_genre }}
                   {%  if not forloop.last %}
                                                  ,
                   {%  endif %}
                {% endfor %}
                </td>
              </tr>
               {% endif %}



                <!-- Language -->
                {% if  object.languages.all %}
                <tr>
                  <th scope="col">{% trans "Languages" %}:</th>
                  <td>
                    {% for language in object.languages.all %}
                         {{ language }}
                    {%  if not forloop.last %}
                    ,
                   {%  endif %}
                    {% endfor %}
                  </td>
                </tr>
                {% endif %}

                  <!-- Education level -->
                {% if  object.education_levels.all %}
                  <tr>
                    <th scope="col">{% trans "Education levels" %}:</th>
                    <td>
                       {% for education_level in object.education_levels.all %}
                           {{ education_level }}
                        {%  if not forloop.last %}
                                              ,
                        {%  endif %}
                      {% endfor %}
                    </td>
                  </tr>
                {% endif %}


                <!-- sponsor -->
                {% if  object.sponsors.all %}
                <tr>
                  <th scope="col">{% trans "Sponsors:" %}</th>
                  <td>
                     {% for sponsor in object.sponsors.all %}
                        {{ sponsor }}
                    {%  if not forloop.last %}
                                            ,
                      {%  endif %}
                    {% endfor %}
                  </td>
                </tr>
                {% endif %}


                <!-- Rights -->
               {% if  object.custom_license %}
                <tr>
                  <th scope="col">{% trans "Right:" %}</th>
                  <td>{{ object.custom_license }}</td>
                </tr>
               {% endif %}




                {% if object.description  %}
                <!-- Description -->
                <tr>
                  <th scope="col">{% trans "Description" %}:</th>
                  <td>{{ object.description }}</td>
                </tr>
               {% endif %}



               <!-- video additional_note -->
               {% if object.additional_note %}
                <tr>
                  <th scope="col">{% trans "Additional note" %}:</th>
                  <td>{{ object.additional_note }}</td>
                </tr>
                {% endif %}





               {% if object.videolinkinfo_set.all %}
                <!-- Authors -->
                <!-- TODO pluralization -->
               {% for link in  object.videolinkinfo_set.all %}
                  <tr>
                  <th scope="col">{% trans "Link:" %}</th>
                  <td><a href="{{ link.link_name}}" target="_blank">{{ link.link_name}}</a></td>
                </tr>

                  <tr>
                  <th scope="col">{% trans "Link Description:" %}</th>
                  <td>{{ link.link_description }}</td>
                </tr>
               {% endfor %}
               {% endif %}

              </tbody>
            </table>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="reviews">



          {% if data_review %}
          {% for v in data_review %}

            {% if v.published == True %}
                <div class="review-container" id="comment_{{ v.pk }}">
                  <!--This one is for published-->
                  <br>
                  <h5 id="posted_title_{{ v.pk }}">{{ v.title }}</h5>
                  <p>By: <span>{{  v.user }}</span></p>
                  <p id="posted_message_{{ v.pk }}">{{ v.post }}</p>
                    {% if user == v.user %}

                   <button type="button" value="{{ v.pk }}" id="{{ v.pk }}"  class ="btn btn-sm btn-primary font-weight-bold EditComment" >Edit</button>
                   <button type="button" value="{{ v.pk }}"  class ="btn btn-sm btn-warning font-weight-bold DeleteComment">Delete</button>

                    {% else %}

                      <!--<p>Welcome,  user. Please log in.</p>-->

                    {% endif %}
              <hr>
             </div>
            {% else %}
                   {% if user == v.user %}
                        <!--This one is for unpublished-->
                           <div class="review-container" id="comment_{{ v.pk }}" >
                              <br>
                              <h5 id="posted_title_{{ v.pk }}">{{ v.title }}</h5>
                              <p>By: <span>{{  v.user }}</span></p>
                              <p id="posted_message_{{ v.pk }}">{{ v.post }}</p>
                              <p>status=unpublished</p>
                                 <button type="button" value="{{ v.pk }}" id="{{ v.pk }}"  class ="btn btn-sm btn-primary font-weight-bold EditComment" >Edit</button>
                                 <button type="button" value="{{ v.pk }}"  class ="btn btn-sm btn-warning font-weight-bold DeleteComment">Delete</button>
                           <hr>
                           </div>
                   {% endif %}
             {% endif %}

           {% endfor %}



          {% elif paginated_data %}
                        <!--Pagination links starts here-->

              {% for v in paginated_data %}
                        {% if v.published == True %}
                            <div class="review-container" id="comment_{{ v.pk }}">
                              <!--This one is for published-->
                              <br>
                              <h5 id="posted_title_{{ v.pk }}">{{ v.title }}</h5>
                              <p>By: <span>{{  v.user }}</span></p>
                              <p id="posted_message_{{ v.pk }}">{{ v.post }}</p>
                                {% if user == v.user %}

                               <button type="button" value="{{ v.pk }}" id="{{ v.pk }}"  class ="btn btn-sm btn-primary font-weight-bold EditComment" >Edit</button>
                               <button type="button" value="{{ v.pk }}"  class ="btn btn-sm btn-warning font-weight-bold DeleteComment">Delete</button>

                                {% else %}

                                  <!--<p>Welcome,  user. Please log in.</p>-->

                                {% endif %}
                          <hr>
                         </div>
                        {% else %}
                               {% if user == v.user %}
                                    <!--This one is for unpublished-->
                                       <div class="review-container" id="comment_{{ v.pk }}" >
                                          <br>
                                          <h5 id="posted_title_{{ v.pk }}">{{ v.title }}</h5>
                                          <p>By: <span>{{  v.user }}</span></p>
                                          <p id="posted_message_{{ v.pk }}">{{ v.post }}</p>
                                          <p>status=unpublished</p>
                                             <button type="button" value="{{ v.pk }}" id="{{ v.pk }}"  class ="btn btn-sm btn-primary font-weight-bold EditComment" >Edit</button>
                                             <button type="button" value="{{ v.pk }}"  class ="btn btn-sm btn-warning font-weight-bold DeleteComment">Delete</button>
                                       <hr>
                                       </div>
                               {% endif %}
                         {% endif %}
                          {% endfor %}
                       <div class="pagination">
                        <span class="step-links">
                          {% if paginated_data.has_previous %}
                          <a href="?page={{ users.previous_page_number }}">previous</a>
                          {% endif %}

                          <!-- Showing the page numbers in Html Page -->
                          <span class="current">
                          Page {{ paginated_data.number }} of {{ paginated_data.paginator.num_pages }}.
                        </span>

                      {% if paginated_data.has_next %}
                      <a href="?page={{ paginated_data.next_page_number }}">next</a>
                      {% endif %}
                      </span>
                      </div>

            <!--This is end of paginated links-->
           {% endif %}



        </div>
      </div>
    </div>
  </div>

  <!-- <hr> -->
  <!-- start of similar books -->

  <div class="row">
    <div class="col-md-12">
      {% if object.get_similar_items.all %}
      <h5 id="det-book-title">{% trans "Similar Videos You May Like" %}</h5>
      {% endif %}
    </div>

     {% for similar_object in object.get_similar_items %}

    <div class="col-md-2 col-sm-6 col-6">
        <div class="grid-book-cont">
          <div class="img-cont">
             <a href=" {% url 'video:detail_without_slug'  similar_object.pk %}">

            {% if similar_object.thumbnail  %}
            <img  src="{{ MEDIA_URL }}{{ similar_object.thumbnail }}"
                alt="{{ similar_object.title }}" title="{{ similar_object.title }}">
           {% else %}

            <img  src="{% static 'base_assets/img/video_book.png' %}"
                alt="{{ similar_object.title }}" title="{{ similar_object.title }}">
           {% endif %}

          </div>
          <p class="book-label text-capitalize"> {{similar_object.title}}</p>
          <p class="book-type text-capitalize"> <i class="fa fa-headphones"></i>&nbsp;{{similar_object.type}}</p>
          </a>

          </div>
      </div>


    {% endfor %}




  </div>
  </div>

</div>

<!--End New div container -->



{% endblock content %}

{% block script %}
    {{ block.super }}
    <script>
        (function (window) {
            window.playVideo = function (event) {

                // get the url of selected video.
                var selectedURL = event.getAttribute('data-src');

                var title = event.getAttribute("data-title");

                // Remove all active class and add the selected class.
                $("#videoList").children("div").children("span").removeClass('text-primary');


                $("#videoList").children("div").children("span").addClass('hide-playing-msg');
                $("#videoList").children("div").children("span").addClass('text-white');
                $("#videoList").children("div").children("span").removeClass('show-playing-msg');

                // Add class to this video
                console.log("event = "+$(event))
                $(event).addClass('text-primary');
                $(event).addClass('show-playing-msg');
                $(event).removeClass('hide-playing-msg');

                // Now change the video src
                var videoPlayer = document.getElementById("selectedVideo");

                videoPlayer.setAttribute("src", selectedURL);
                $("#video-title").text(title);

                // Play the video
                videoPlayer.play();
            }
        })(window);


  <!-- If you'd like to support IE8 -->

    </script>

    <script>

/***************************Review code****************************/

    //--for the review system
    $("#submitButton").click(function (e){
      e.preventDefault();
      var user_title = $("input[type='text'][name='title_input']").val().trim();
      var user_input = $("textarea[type='text'][name='input']").val().trim();
      var content_type = $("input[type='hidden'][name='content_type']").val().trim();
      var content_id = $("input[type='hidden'][name='content_id']").val().trim();
      var user_name = $("input[type='hidden'][name='user']").val().trim();
      //alert("title="+ user_title);
      //alert("detail="+ user_input);
      //return;
      if(user_name == "" || user_name == "AnonymousUser" ){
        //alert("Login to post you message");

        //$("#close_model_box").click();
        $("#information_message_p_tag").text('Login to post you message');
        $("#info_message_display").click();


        return;
      }else if(user_input == "" || user_title == "" ){
        //alert("Please enter you title and message properly!");

        //$("#close_model_box").click();
        $("#information_message_p_tag").text('Please enter the title and message properly!');
        $("#info_message_display").click();

        return;
      }
       $.ajax({
        type:'post',
        url: '/review_system/',
         headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
        data: {
          "input": user_input,
          "content_type" : content_type,
          "content_id" : content_id,
          "input_title":user_title,
        },
        success: function (data) {
          $("textarea[type='text'][name='input']").val('');
          $("input[type='text'][name='title_input']").val('');
          //alert("Your review message has been sent. It will be display here after approval from moderator");
          var pk_value = data.pk_value;

          //close_model_box
           $("#information_message_p_tag").text('Your review has been sent to the moderator. It will be available to the general public after the approval. However, you still can edit or delete your review.');
           $("#close_model_box").click();
           $("#info_message_display").click();
             //when success we need to append the data to the comment section
             $("#reviews").prepend('<div class="review-container" id="comment_'+pk_value+'">' +
                  '<br><h5 id="posted_title_'+pk_value+'">'+user_title+'</h5>'+
                  '<p>By: <span>' +user_name+'</span></p>'+
                  '<p id="posted_message_'+pk_value+'">'+user_input+'</p>'+
                  '<p>status:unpublished</p>'+
                  '<button type="button" value="'+pk_value+'" id="'+pk_value+'" class="btn btn-sm btn-primary font-weight-bold EditComment">Edit</button>'+
                   '<button type="button" value="'+pk_value+'" class="btn btn-sm btn-warning font-weight-bold DeleteComment">Delete</button><hr>'+
             '</div>');

        },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
      });
    });

     //Method to EditComment
     $("#reviews").delegate("button.EditComment","click",function (e){

      var id_value = $(this).val();
      posted_title= $("#posted_title_"+id_value).text().trim();
      posted_message= $("#posted_message_"+id_value).text().trim();

      //alert("title="+posted_title+ "message"+posted_message);
      //alert("element="+element[0]+"id="+element_class);

      //return;
      $("#edited_title_input").val(posted_title);
      $("#edited_message_id").val(id_value);
      $("textarea#edited_message_input").val(posted_message);
       $("#edit_hidden_btn").click();

     });


    /*This is triggered when editing and sending item*/
    function sendButtonClick(){

      //data capture
      var user_input = $("textarea#edited_message_input").val().trim();
      var user_input_title =$("#edited_title_input").val().trim();
      var content_type = $("input[type='hidden'][name='content_type']").val().trim();
      var content_id = $("input[type='hidden'][name='content_id']").val().trim();
      var user_name = $("input[type='hidden'][name='user']").val().trim();
      var pk_value = $("#edited_message_id").val();
      //alert("pk="+pk_value);
      //return;



      if(user_input_title.trim() == "" || user_input.trim() == "" ){
        $("#information_message_p_tag").text('Please enter the title and message properly!');
        $("#info_message_display").click();
        return;
      }
       $.ajax({
        type:'post',
        url: '/review_system/edit/',
         headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
        data: {
          "input": user_input,
          "input_title":user_input_title,
          "content_type" : content_type,
          "content_id" : content_id,
          "pk_val":pk_value,
        },
        success: function (data) {

        //alert("update successful")

        //close_model_box
         $("#information_message_p_tag").text('Your message has been edited successfully!');
         $("#edited_cancel_button").click();
         $("#info_message_display").click();

         var pk_value = data.pk_value;
         var id_div = "comment_"+pk_value;
         $("#"+id_div).empty(); //Remove child element in a div

         /* 1. Delete the item first and append the new edited item in the list */

         $("#"+id_div).append('<br><h5 id="posted_title_'+pk_value+'">'+user_input_title+'</h5>'+
              '<p>By: <span>' +user_name+'</span></p>'+
              '<p id="posted_message_'+pk_value+'">'+user_input+'</p>'+
              '<p>status:unpublished</p>'+
              '<button type="button" value="'+pk_value+'" id="'+pk_value+'" class="btn btn-sm btn-primary font-weight-bold EditComment">Edit</button>'+
              '<button type="button" value="'+pk_value+'" class="btn btn-sm btn-warning font-weight-bold DeleteComment">Delete</button><hr>'+
         '');


        },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
      });


    }//CLose of sendButtonClick

    //Function delete
    $("#reviews").delegate("button.DeleteComment","click",function (e){

      //alert("delete btn clicked")
      var pk_value = $(this).val();

      $("#message_delete_id").val(pk_value);
      $("#yes_no_message_display").click()



   }); //Close of delete container

   function DeleteButtonYes(){
     // alert("inside delete buton yes");
     //var pk_value = $(this).val();
         var pk_value = $("#message_delete_id").val()


          //alert(pk_value)
          //return;
         //console.log(pk_value);
       $.ajax({
        type:'post',
        url: '/review_system/delete/',
         headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
        data: {
          "input_pk": pk_value,
        },
        success: function (data) {
          //if (data.is_taken) {
          //alert('SUCCESS');

          $("#information_message_p_tag").text('Your message has been deleted !');
         $("#edited_cancel_button").click();
         $("#info_message_display").click();


         // Lets remove the element here
         $("#comment_"+pk_value).remove();



        },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
      });



   }


/***************************Close of review code****************************/

    </script>


{% endblock script %}
{% block style %}
    <!-- inherit all the base styles -->
    {{ block.super }}
  <style>

    .show-playing-msg  .playing-msg-p{
     display:block;
    }
    .hide-playing-msg  .playing-msg-p{
     display: none;
    }
  </style>
{% endblock style %}

