{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load pustakalaya_filters %}

{% block content %}
<div class="main-contain">
  <div class="container">
    <div class="row" style="margin: 15px 0px;">
      <div class="col-md-12" style="padding: 0px;">
          {% if object.collections.all%}
          <span class="container-breadcrum bold">
            <!-- Bread crums -->
            {% for collection in object.collections.all %}
            {% if forloop.first %}
            <a href="/community/{{collection.community_name.split|join:"-" | transtolocal }}" class="text-capitalize">{{collection.community_name | transtolocal  }}</a>
            <span style="color: #00838F;">&nbsp;<i class="fa fa fa-caret-right"></i></span>&emsp;
            {% endif %}
            <a  href="{% url "collection:collection_detail" collection.collection_name|slugify collection.pk %}"

            >
            {{ collection.collection_name | transtolocal }}
            </a>
            {%  if not forloop.last %} ,{%  endif %}
            {% endfor %}
          {% endif %}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3 det-img-cont">
      {% if object.thumbnail  %}
        <img src="{{ MEDIA_URL }}{{ object.thumbnail }}"
        title="{{ object.title }}"
        alt="{{ object.title }}" />
     {% else %}

      <img src="{% static 'base_assets/img/audio_book.png' %}"
        title="{{ object.title }}"
        alt="{{ object.title }}" />
     {% endif %}

     
  
        <div class="ratings-container">
         
         {# <button type="button" class="btn ole-btn" style="margin-bottom: 1rem;"><i class="fas fa-book"></i> Document Available</button> #}
          {%  if request.user.is_superuser %}

          <p class="text-primary description">
           <button class="btn btn-sm">
              <a  href="{{ object.get_admin_url }}" class="btn btn-sm">{%  trans "Edit" %}</a>
           </button>
          </p>

{%  endif %}

          {% comment %}
          <p>Rate this book:</p>
          <p>This is the star container</p>
          {% endcomment %}
        </div>


        
        {# <button type="button" class="btn ole-btn-trans" style="margin-bottom: 1rem;"><i class="fas fa-heart det-fav-active"></i> Add to Favorite</button> #}
        <button type="button" class="btn ole-btn-trans" data-toggle="modal" data-target="#myModal" style="margin-bottom: 1rem;"><i class="fas fa-comment-alt det-rev-active"></i> Leave a Review</button>
        <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <form>
              <div class="modal-header">
                <h4 class="modal-title">Write a Review</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                    <label for="usr">User Name:</label>
                    <input type="text" class="form-control" id="usr">
                    <label for="pwd">Email:</label>
                    <input type="password" class="form-control" id="pwd">
                    <label for="pwd">Title:</label>
                    <input type="password" class="form-control" id="pwd">
                    <label for="comment">Review:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary ole-btn">Submit</button>
              </div>
            </form>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-9">
        <h5 id="det-book-title" class="text-capitalize">{{object.title}}</h5>
        <p>{% trans "By" %}:<span>
           <!--Original author of the document which was made audio file later-->
              {% if  object.audio_original_document_authors.all %}
                  {% for author in object.audio_original_document_authors.all %}
                    <a href="{% url 'author:author_detail' author.getname|slugify_unicode author.pk %}" class="text-capitalize">{{ author }}</a>{%  if not forloop.last %},{%  endif %}
                  {% endfor %}
              {% endif %}
        </span> </p>

        <div class="_1dlNCg"><div class="niH0FQ">
          <span id="productRating_undefined_MOBFF5ZG7HCKHJCS_" class="_2_KrJI">
            <div class="hGSR34 _2beYZw">4.3<!-- --> ★</div>
          </span><span class="_38sUEc">
            <span><span>109 Ratings&nbsp;</span><span class="_1VpSqZ">&amp;</span><span>&nbsp;35 Reviews</span></span>
          </span>
        </div>
      </div>

      <audio id="selectedAudio" 
        style="width: 100%;" preload="auto" tabindex="0" controls="" 
        type="audio/mpeg"
        title="{{ object.title }}" 
        about="{{ object.title }}"
        src="{{ MEDIA_URL }}{{ object.audiofileupload_set.first.upload }}"
        controlslist="nodownload">
      </audio>


      <br>
      <br>

      <div id="audioList" style="overflow-y: auto;max-height: 300px;">
        <!-- audio playlist -->
        {% for audio in object.audiofileupload_set.all %}
              <div class="pl-3   {% if forloop.counter == 1 %}curr-playing-audio{% endif %}">
                  
                  {% if forloop.counter == 1 %}
                  <img src="{% static 'base_assets/img/source.gif' %}" style="width: 12.25px;" alt="currently playing" />
                  {% else %}
                  <i class="fa fa-play-circle"></i>
                  {% endif %}
                    <span  data-src="{{ MEDIA_URL }}{{ audio.upload }}" 
                    class="text-capitalize playspan"
                     data-title="{{ audio.file_name }}" onclick="playAudio(this)">
                      {{ forloop.counter }}&nbsp;.&nbsp;{% if audio.file_name %}{{ audio.file_name }}
                        {% else %}
                           {% trans "Audio" %}{{forloop.counter}}
                        {% endif %}
                    </span>
            
                    </script>
                    <span style="float: right;">
                        <audio class="calculateAudioLength"
                       
                        src="{{ MEDIA_URL }}{{ audio.upload }}">
                      </audio>
                        
                    </span>
              </div>
        {% endfor %}
      </div>

      <br>
      <br>

      <p>
        {{object.abstract}}
      </p>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#details" role="tab" data-toggle="tab">{% trans "Details" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews" role="tab" data-toggle="tab">{% trans "Reviews" %}</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active in" id="details">
          <div class="table-responsive">
            <table class="table">
              <thead>
              </thead>
              <tbody>

              {% if  object.audio_read_by.all %}
                  <tr>
                      <th scope="col">{% trans "Voice by"%}:</th>
                      <td class="text-capitalize">
                        {% for audio_author in object.audio_read_by.all %}
                        <a href="{% url 'author:author_detail' author.getname|slugify_unicode audio_author.pk %}">
                          {{audio_author.getName}}
                          {% if not forloop.last %}
                            , &nbsp;
                          {% endif%}
                        </a>
                        {% endfor %}
                      </td>
                    </tr>
              {% endif %}


              <!-- publisher -->
              {% if  object.publisher.all %}
               <tr>
                  <th scope="col">{% trans "Publisher" %}</th>
                      <td class="text-capitalize">
                          {% for publisher in object.publisher.all %}
                          {{ publisher.publisher_name }}
                          {%  if not forloop.last %}
                                    ,
                          {%  endif %}
                         {% endfor %}
                      </td>
                  
                </tr>
              {% endif %}

              <!-- original authors -->

             {% if  object.audio_original_document_authors.all %}   
             <tr>
                <th scope="col">{% trans "Original author(s):" %}</th>
                <td class="text-capitalize">
                    {% for author in object.audio_original_document_authors.all %}
                   <a href="{% url 'author:author_detail' author.getname|slugify_unicode author.pk %}">
                     {{ author }}
                   </a>
                   {%  if not forloop.last %}
                             ,
                   {%  endif %}
                  {% endfor %}
                </td>
              </tr>
             {% endif %}

             <!-- release date -->
                {% if object.audio_release_date %}
                <tr>
                    <th scope="col text-capitalize">{% trans "Release date:" %}</th>
                    <td>{{ object.audio_release_date }}</td>
                  </tr>
              {% endif %}

               <!-- place of publication -->
              {% if   object.place_of_publication %}
              <tr>
                  <th scope="col text-capitalize">{% trans "Place of Publication:" %}</th>
                  <td class="text-capitalize">{{ object.place_of_publication }}</td>
                </tr> 
              {% endif %}


              <!-- Publication year -->
              {% if  object.publication_year_on_text %}
                <tr>
                    <th scope="col" class="text-capitalize">{% trans "publication year:" %}</th>
                    <td class="text-capitalize">{{ object.publication_year_on_text }}</td>
                </tr>
              {% endif %}

              <!-- audio types -->
              {% if  object.audio_types.all %}
              <tr>
                  <th scope="col" class="text-capitalize">{% trans "type:" %}</th>
                  <td class="text-capitalize">
                      {% for audio in object.audio_types.all %}
                        {{ audio.name }}
                      {% endfor %}
                  </td>
                </tr>

                
              {% endif %}

              <!-- audio genre -->
            {% if  object.audio_genre.all %}
                <tr>
                    <th scope="col " class="text-capitalize">{% trans "genre:" %}</th>
                    <td class="text-capitalize">
                        {% for genre in object.audio_genre.all %}
                        {{ genre.custom_genre }}{%  if not forloop.last %},{%  endif %}
                      {% endfor %}
                    </td>
                  </tr>
            {% endif %}

                  <!-- audio series -->
            {% if  object.audio_series %}
              <tr>
                  <th scope="col text-capitalize" class="text-capitalize">{% trans "series name:" %}</th>
                  <td class="text-capitalize">{{ object.audio_series.series_name }}</td>
                </tr>
            {% endif %}

            <!-- audio volume -->
            {% if  object.volume %}
            
                <tr>
                <th scope="col text-capitalize" class="text-capitalize">{% trans "Volume:" %}</th>
                <td class="text-capitalize">{{ object.volume }}</td>
              </tr>
            {% endif %}

              <!-- audio edition -->
              {% if  object.edition %}
            
                  <tr>
                  <th scope="col text-capitalize" class="text-capitalize">{% trans "edition:" %}</th>
                  <td class="text-capitalize">{{ object.edition }}</td>
                </tr>

                
              {% endif %}


               <!-- Available year -->
              {% if  object.year_of_available_on_text%}
              <tr>
                  <th scope="col" class="text-capitalize">{% trans "available year:" %}</th>
                  <td class="text-capitalize"> {{ object.year_of_available_on_text }}</td>
              </tr>
              {% endif %}

              {% if object.keywords.all %}
              <tr>
                  <th scope="col" class="text-capitalize">{% trans "keywords:" %}</th>
                  <td>
                      {% for keyword in object.keywords.all %}
                      <a href="{% url 'keyword:keyword_detail' keyword.keyword %}" class="text-capitalize"> {{ keyword.keyword }}</a>
                         {%  if not forloop.last %},{%  endif %}
                      {% endfor %}
                  </td>
                </tr>

              {% endif %}
              </tbody>
            </table>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="reviews">
          <div class="review-container">
            <br>
            <h5>Brihat Sabdakosh</h5>
            <p>By: <span>Shankar Prasad Adhikari</span></p>
            <p>Very useful to iBook users. ...</p>
            <p> <a href="#">Read More</a> </p>
            <hr>
          </div>
          <div class="review-container">
            <br>
            <h5>युनिकोडमा भए अझ जाति हुने थियो</h5>
            <p>By: <span>Shankar Prasad Adhikari</span></p>
            <p>नेपाली शब्दकोशलाई डिजिटल रुप दिन खोजिएको यो प्रयाश अत्यन्त सह्रानिय छ। किन्तु यो डिजिटल पुस्तक नेपाली युनिकोड फर्म्याटमा भएको भए शब्दहरु तुरुन्त खोज्न सघाउ पुग्ने थियो। साथै, यस पुस्तकले चाँडै मोबाइल एपको रुप पाओस् भन्ने मेरो कामना। ...</p>
            <p> <a href="#">Read More</a> </p>
            <hr>
          </div>
          <div class="review-container">
            <br>
            <h5>Complete the Dictionary</h5>
            <p>By: <span>Shankar Prasad Adhikari</span></p>
            <p>नेपाली भएर पनि नेपाली राम्ररी प्रयोग गर्न नजान्ने,वोल्न नजान्ने का लागि यो अति नै महत्व पु्र्ण पुस्तकको रूपमा रहेको छ । यसले मानवको भाषा सञ्चार प्रक्रियालाई मजवुद बनाएको छ । म अत्यन्तै खुसी छु। धन्यवाद हजुर हरूलाई ...</p>
            <p> <a href="#">Read More</a> </p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <hr> -->
  <!-- start of similar books -->
  <div class="row">
    <div class="col-md-12">
      <h5 id="det-book-title">{% trans "Similar Audio Books" %}</h5>
    </div>


    {% for similar_object in object.get_similar_items %}
    <a href=" {% url 'audio:detail_without_slug'  similar_object.pk %}">
    <div class="col-md-2 col-sm-6 col-6">
        <div class="grid-book-cont">
          <div class="img-cont">
            {% if similar_object.thumbnail  %}
            <img  src="{{ MEDIA_URL }}{{ similar_object.thumbnail }}"
                alt="{{ similar_object.title }}" title="{{ similar_object.title }}">
           {% else %}
     
            <img  src="{% static 'base_assets/img/audio_book.png' %}"
                alt="{{ similar_object.title }}" title="{{ similar_object.title }}">
           {% endif %}

          </div>
          <p class="book-label text-capitalize"> <a href=" {% url 'audio:detail_without_slug'  similar_object.pk %}"></a>{{similar_object.title}}</p>
          <p class="book-type text-capitalize"> <i class="fa fa-headphones"></i>&nbsp;{{similar_object.type}}</p>
        </div>
      </div>
      </a>
        
    {% endfor %}
  </div>
</div>
</div>


<!-- script to play audio -->
<script>
    (function (window) {
        window.playAudio = function (event) {
            // get the url of selected audio.
            var selectedURL = event.getAttribute('data-src');
            var title = event.getAttribute("data-title");
            // Remove all active class and add the selected class.
            $("#audioList").children("div").removeClass('curr-playing-audio');
            // Add class to this audio
            $(event).parent().addClass('curr-playing-audio');
            // Remove all img tag with playing gif. 

            var gifLink = $("#audioList").children('div').children('img').first().attr('src');
            var images = $("#audioList").children('div').children('img')
            var plays =  $("#audioList").children('div').children('i')

            $(images).remove(); // remove all images
            $(plays).remove(); // remove all plays
            // add plays on all button except currently playing. 
          
            // add running button on all
            $(images.first()).insertBefore(event);
            // add play button on all element
            $.each($("#audioList").children('div').children('.playspan'), function(index, spanT) {
               $("<i class='fa fa-play-circle'></i>").insertBefore(spanT);
            });
            // remove the sibling of this item
            $(event).siblings('i').remove()
            // remove siblling of currently selected item and img tag
            // add img gif just above the span tag. 
            $(images.first()).insertBefore(event);
            
            // remove all 
    
            // Now change the audio src
            var audioPlayer = document.getElementById("selectedAudio");
            audioPlayer.setAttribute("src", selectedURL);
            $("#audio-title").text(title);
            // Play the audio
            audioPlayer.play();
        }
    })(window);
</script>
{% endblock content %}