{% extends 'base.html' %}
{% load static %}
 {% load i18n %}
 {% load pustakalaya_filters %}
 {% block title %}
   {% trans "homepage"%}
{% endblock title %}

{% block style %}
  {{ block.super }}
{% endblock style %}


{% block content %}

<!-- index page need following fonts and scripts -->
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous"> -->
<!-- all elements of home page is here -->
<div class="main-contain">
  <div class="container">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-3">
          <div class="container-fluid ep-white-bg cat-cont" style="padding: 0px !important;">
            <h6 style="background:#4D4D4D; color:#fff; font-family: 'Roboto Slab', serif; padding: 10px 10px 10px 15px;">Browse By Categories</h6>

            <ul data-v-03b85949="" class="format-dd">
              <li data-v-03b85949="" class="format-option"><a href="/community/literatures-and-arts/" class="text-capitalize">
              <i class="fa fa-1x fa-book mr-2" aria-hidden="true"></i>{% trans "literatures and Arts" %}</a></li>
              <li data-v-03b85949="" class="format-option"> <a href="/community/course-materials/" class="text-capitalize">
              <i class="fa fa-1x fa-desktop mr-2" aria-hidden="true"></i>{% trans "Course Materials" %}</a></li>
              <li data-v-03b85949="" class="format-option"> <a href="/community/teaching-materials/" class="text-capitalize">
              <i class="fa fa-1x fa-graduation-cap mr-2" aria-hidden="true"></i>{% trans "Teaching Materials" %}</a></li>
              <li data-v-03b85949="" class="format-option"><a href="/community/reference-materials/" class="text-capitalize">
                  <i class="fa fa-1x fa-briefcase mr-2" aria-hidden="true"></i>{% trans "reference Materials" %}</a></li>
              <li data-v-03b85949="" class="format-option"> <a href="/community/other-educational-materials/" class="text-capitalize">
                  <i class="fa fa-1x fa-flask mr-2" aria-hidden="true"></i>{% trans "other educational Materials" %}</a></li>
              <li data-v-03b85949="" class="more-colors"> <a href="/community/newspaper-and-magazines/" class="text-capitalize">
              <i class="fa fa-1x fa-newspaper mr-2" aria-hidden="true"></i>{% trans "Newspapers &amp; Magazines" %}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="container ep-white-bg">
            <div class="row">
              <div class="col-md-12">
                <h6 class="text-btn-lines"><span>{% trans "Popular Titles" %}</span></h6>
              </div>
            </div>
            <div class="row">



              <div class="col-md-12" style="padding: 0px 30px 0px 30px;">
                <div class="your-class">


                  {% for item in featured_books %}
                  <a href="
                    {% if item.type == 'document' %}
                     {% url 'document:detail_without_slug'  item.pk %}
                    {% endif %}

                    {% if item.type == 'audio' %}
                      {% url 'audio:detail_without_slug'  item.pk %}
                    {% endif %}

                    {% if item.type == 'video' %}
                      {% url 'video:detail_without_slug'  item.pk %}
                    {% endif %}

                    " >
                  <div class="slid-img-container">

                    <img class="slid-books" src="
                      {% if item.thumbnail %}
                          {{MEDIA_URL}}{{item.thumbnail}}
                      {% else %}
                      {% if item.type == 'document' %}
                        {% static  'base_assets/img/book_image_default.png' %}
                       {% endif %}

                     {% if item.type == 'audio' %}
                     {% static  'base_assets/img/audio_book.png' %}

                     {% endif %}

                     {% if item.type == 'video' %}
                     {% static  'base_assets/img/video_book.png' %}

                     {% endif %}
                      {% endif %}

                      " alt="ole logo" />
                  </div>
                  </a>

                  {% endfor %}
              </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-3">
          <div class="container ep-white-bg" style="height: 100%; background: #00D3DE;">
            {% trans "E-Paath" %}
          </div>
        </div>
        <div class="col-md-9">
          <div class="container ep-white-bg">
            <div class="row">
              <div class="col-md-12">
                <h6 class="text-btn-lines"><span>{% trans "Other Learning Softwares" %}</span></h6>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding: 0px 30px 0px 30px;">
                <div class="your-class">
                  <div class="slid-software-container">
                    <img class="slid-books" src="{% static 'images_new/oth_softwares/case-study-elearning-for-kids-8-728.jpg' %}" alt="ole logo" />
                    <span style="margin-left: 10px;">{% trans "E-Learning for Kids" %}</span>
                  </div>
                  <div class="slid-software-container">
                    <img class="slid-books" src="{% static 'images_new/oth_softwares/case-study-elearning-for-kids-8-728.jpg' %}" alt="ole logo" />
                    <span style="margin-left: 10px;">{% trans "E-Learning for Kids" %}</span>
                  </div>
                  <div class="slid-software-container">
                    <img class="slid-books" src="{% static 'images_new/oth_softwares/case-study-elearning-for-kids-8-728.jpg' %}" alt="ole logo" />
                    <span style="margin-left: 10px;">{% trans "E-Learning for Kids" %}</span>
                  </div>
                  <div class="slid-software-container">
                    <img class="slid-books" src="{% static 'images_new/oth_softwares/case-study-elearning-for-kids-8-728.jpg' %}" alt="ole logo" />
                    <span style="margin-left: 10px;">E-Learning for Kids</span>
                  </div>
                  <div class="slid-software-container">
                    <img class="slid-books" src="{% static 'images_new/oth_softwares/case-study-elearning-for-kids-8-728.jpg' %}" alt="ole logo" />
                    <span style="margin-left: 10px;">{% trans "E-Learning for Kids" %}</span>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="container ep-white-bg"  style="height: 50%; background: #00D3DE;">
              {% trans "Audio" %}
        </div>
        <div class="container ep-white-bg"  style="height: 50%; background: #00D3DE;">
            {% trans "Video" %}
      </div>
        </div>
        <div class="col-md-9">
          <div class="container ep-white-bg">
            <div class="row">
              <div class="col-md-12">
                <h6 class="text-btn-lines"><span>{% trans "Reference Sites" %}</span></h6>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding: 0px 30px 0px 30px;">
                <div class="reference-class">
                  <div class="slid-ref-container">
                    <a href="#">
                        <img class="slid-books" src="{% static 'images_new/references/osm_logo.png' %}" alt="ole logo" />
                    </a>
                  </div>
                  <div class="slid-ref-container">
                    <a href="#">
                      <img class="slid-books" src="{% static 'images_new/references/schools-wikipedia-logo.png' %}" alt="ole logo" />
                  </a>
                  </div>
                  <div class="slid-ref-container">
                    <a href="https://www.wikipedia.org/">
                     <img class="slid-books" src="{% static 'images_new/references/wikipedia-logo-detail.gif' %}" alt="ole logo" />
                   </a>
                  </div>
                    <div class="slid-ref-container">
                      <a href="">
                        <img class="slid-books" src="{% static 'images_new/references/nepali_sabdakos.jpg' %}" alt="ole logo" />
                     </a>
                    </div>
                  <div class="slid-ref-container">
                    <a href="">
                    <img class="slid-books" src="{% static 'images_new/references/Wiktionary-logo_wpstyle-en_with_transparency.png' %}" alt="ole logo" />
                  </a>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>




{% endblock content %} {% block script %} {{ block.super }} {% endblock script %}
