{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load pustakalaya_filters %}
{% block style %}
    {{ block.super }}
{% endblock style %}
{% block content %}

<div class="main-contain">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="nav nav-tabs auth-navs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" href="#auth-nep-letters" role="tab" data-toggle="tab">अ - ह</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#auth-eng-letters" role="tab" data-toggle="tab">A - Z</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content" style="margin-top: -1px;">
                <div role="tabpanel" class="tab-pane in" id="auth-nep-letters">
                  <div class="alph-list auth-alph-list">
                    <div class="alph-list auth-alph-list">
                            {% for nepali in nepali_letters %}
                                <a href="#ath-no-{{forloop.counter}}"><button type="button" class="btn btn-default ole-btn-auth">{{ nepali }}</button></a>
                            {% endfor %}
                    </div>
                  </div>

                  {% for nepali in nepali_letters %}
                  <div id="ath-no-{{forloop.counter}}" class="row ath-list-cont">
                        <div class="col-md-3">
                          <div class="page-cap-cont">
                            <span class="page-cap-let">{{nepali}}</span>
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="row">
                            <!-- get the list of author that start with nepali letter -->
                            {% for author in author_dict|get:nepali %}
                            <div class="col-md-4">
                              <a  href="/authors/{{ author.getname|slugify_unicode }}/{{ author.pk }}">{{author.getname}}</a>
                            </div>

                            {% endfor %}



                          </div>

                        </div>
                      </div>
                      <hr>


                 {% endfor %}

                </div>
                <div role="tabpanel" class="tab-pane active in" id="auth-eng-letters">

                 

                        <div class="alph-list auth-alph-list">
                                {% for english in letters %}
                                    <a class="text-capitalize" href="#ath-no-{{english}}"><button type="button" class="btn btn-default text-capitalize ole-btn-auth">{{ english }}</button></a>
                                {% endfor %}
                        </div>
                 
                  {% for english in letters %}
                         <div id="ath-no-{{english}}" class="row ath-list-cont">
                        <div class="col-md-3">
                          <div class="page-cap-cont">
                            <span class="page-cap-let text-capitalize">{{english}}</span>
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="row">
                            <!-- get the list of author that start with nepali letter -->
                            {% for author in author_dict|get:english %}
                            <div class="col-md-4">
                              <a class="text-capitalize"  href="/authors/{{ author.getname|slugify_unicode }}/{{ author.pk }}">{{author.getname}}</a>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                      <hr>
                 {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <a id="back-to-top" href="#" class="btn btn-lg back-to-top ole-btn" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-arrow-up"></i></a>
{% endblock content %}
