{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load pustakalaya_filters %}
{% block style %}
    {{ block.super }}
    <style>
        a#alphabet-button {
            background-color: #fff;
            font-size: 11pt;
            min-width: 25px !important;
            min-height: 30px !important;
        }

        a#alphabet-button:hover {
            background-color: #ecf0f1;
            text-color: #2980b9;
            min-width: 25px !important;
            min-height: 30px !important;
        }

        a#alphabet-button:focus {
            background-color: #ecf0f1;
            min-width: 25px !important;
            min-height: 30px !important;

        }

    .page-link1{
     border:1px solid #00838f;
     border-radius:1px;
     margin-left:5px;
     margin-right:5px;
     padding:5px 10px 5px 10px;
     margin-top:25px;
     }
      .page-link1{

     color:#00838f;
     }
     .page-link1:hover{
     background-color:#00838f;
     color:#fff;
     }
     .page-item{
     background-color: #FAFAFA;
     }
     .page-link{
      background-color:#00838f!important;
      color:#fff;
     }

    </style>
{% endblock style %}
{% block content %}
    <div class="container min_height_author_detail pt-4">
        <div class="row mb-5">
            <div class="col-md-11 col-sm-12 col-xs-12">
                {% for l in letters %}
                    <span>

        <a id="alphabet-button" class="btn btn-xs btn-simple text-primary text-uppercase pb-1 pt-1 pr-1 pl-1"

           href="?letter={{ l }}"
           readonly>{{ l }}</a>
      </span>
                {% endfor %}
                <br>
                {% for nepali in nepali_letters %}
                    <span>

        <a id="alphabet-button" class="btn btn-xs btn-simple text-primary text-uppercase pb-1 pt-1 pr-1 pl-1"

           href="?letter={{ nepali }}"
           readonly>{{ nepali }}</a>
      </span>

                {% endfor %}
              <br>
              {% if letter_exist %}
              <a id="alphabet-button" class="btn btn-xs btn-simple text-primary"
           href="/authors/"
           readonly>Show all</a>
              {% endif %}


            </div>
        </div>

        <!-- author list -->
        {% for author in authors %}
            {% if author.getname.strip  %}
            <div class="row mb-2">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span class="text-dark">{{ page_number_count|add:forloop.counter }}.</span>
                    <a style="text-decoration: none" class="text-primary"
                       href="/authors/{{ author.getname|slugify_unicode }}/{{ author.pk }}">
                        {{ author.getname }}
                    </a>
                </div>
            </div>
            <hr>
            {% endif %}
        {% endfor %}

        <!-- include pagination -->
        {% if authors.has_other_pages %}

           <div class="row">
           <div class="col-md-8 col-md-offset-2">
                <div>
                <ul class="pagination pagination-primary">

                  <!--Previous button-->
                    {% if authors.has_previous %}
                  <li class="page-item">
                   {% if letter %}
                           <a href="?letter={{ letter }}&page={{ authors.previous_page_number }}" class="page-link1">&laquo;Previous</a>
                          {% else %}
                           <a href="?page={{ authors.previous_page_number }}" class="page-link1">&laquo;Previous</a>
                          {% endif %}
                  </li>
                    {% endif %}

                    <!--Intermediate links-->
                    {% for i in authors.paginator.page_range %}
                  {% if i <   authors.number|add:5 and i > authors.number|add:-5 %}
                          <li class="page-item active">
                          {% if letter %}
                            <a href="?letter={{ letter }}&page={{ i }}"
                             {% if   i  == authors.number %} class=" page-link" style="margin-top:-5px;"{% else %}
                             class="page-link1" {% endif %}>{{ i }}</a>
                          {% else %}
                         <a href="?page={{ i }}"
                         {% if   i  == authors.number %} class=" page-link" style="margin-top:-5px;"{% else %}
                             class="page-link1" {% endif %}
                         >{{ i }}</a>

                          {% endif %}
                           </li>
                       {% endif %}

                    {% endfor %}

                  <!--last link-->

                  {% if authors.has_next or  authors.has_previous%}
                    {% if authors.number != authors.paginator.num_pages %}
               {% if authors.number < authors.paginator.num_pages|add:-5 %}
                    <li>...</li>
                    <li class="page-item active" >

                      {% if letter %}
                      <a href="?letter={{ letter }}&page={{ authors.paginator.num_pages }}"
                    class="page-link1"
                        >{{ authors.paginator.num_pages }}</a>
                      {% else %}
                           <a href="?page={{ authors.paginator.num_pages }}"
                    class="page-link1"
                        >{{ authors.paginator.num_pages }}</a>
                          {% endif %}

                      </li>
              {% endif %}
                    {% endif %}
              {% endif %}

                     <!--Next button-->
                    {% if authors.has_next %}
                        <li class="page-item">
                           {% if letter %}
                             <a href="?letter={{ letter }}&page={{ authors.next_page_number }}"
                                                 class="page-link1">Next&raquo;</a>
                          {% else %}
                         <a href="?page={{ authors.next_page_number }}"
                                                 class="page-link1">Next&raquo;</a>
                          {% endif %}
                        </li>
                    {% endif %}


                </ul>
            </div>
           </div>
           </div>
        {% endif %}
    </div>

{% endblock content %}
