{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load pustakalaya_filters %}
{% block content %}

<div class="container min_height pt-4 min_height_author_detail"style="font-family:arial,sans-serif;" >
  <div class="row ">
    <!-- Author Name -->
    <div class="col-md-2 col-xs-12 col-sm-12">

      <p class="text-capitalize  text-dark description h5 mt-2 title-font ">{{ object.getname }}</p>
      {% if object.thumbnail  %}

      <img src="{{ MEDIA_URL }}{{ object.thumbnail }}"
           width="210px"
           height="230px"
           title="{{ object }}"
           alt="{{ object }}" class="rounded img img-responsive">



      {% else %}

      <img src="{% static 'base_assets/img/author.png' %}"
           width="210px"
           height="230px"
           title="{{ object }}"
           alt="{{ object }}" class="rounded img img-responsive">


      {% endif %}
      <br/><br/>
      <p><strong class="text-capitalize paragraph-font"><a href="{%  url "author:books" object.get_underscore_name %}">{% trans "View author's book" %}</a></strong></p>
      <hr>
      {%  if request.user.is_superuser %}
          <p class="text-primary description">
          <a href="{{ object.get_admin_url }}" class="btn btn-sm">{%  trans "Edit" %}</a>
          </p>
        {%  endif %}
      <p>
        <strong class="text-capitalize paragraph-font">{% trans "keywords" %}:</strong>
        {% if  object.keywords.all %}
        {% for keyword in object.keywords.all %}
        <a href="{% url 'keyword:keyword_detail' keyword.keyword %}"
                 style="text-decoration: none;">{{ keyword }}</a>
            {%  if not forloop.last %},{%  endif %}

        {% endfor %}
        {% endif %}
      </p>
    </div>
    <div class="col-md-10 col-xs-12 col-sm-12 paragraph-font" id="author-detail">
      <div class="p-4 rounded">


        {% if object.address %}
        <div class="row">
         <span class="col-md-2"><b>{% trans "Address" %}:</b></span>
         <span class="col-md-10">{{ object.address }}</span>
            </div>
        {% endif %}


        {% if object.dob %}
        <div class="row">
        <div class="col-md-2"><b>{% trans "Date of birth" %}: </b></div>
        <div class="col-md-10">{{ object.dob }}</div>
        </div>
        {% endif %}



        {% if object.date_of_death %}
        <div class="row">
         <span class="col-md-2"> <b>{% trans "Date of death" %}: </b></span>
          <span class="col-md-10">{{ object.date_of_death }}</span>
        </div>
        {% endif %}


        {% if object.place_of_death %}
        <div class="row">
        <span class="col-md-2"><b>{% trans "Place of death" %}: </b></span>
          <span class="col-md-10">{{ object.place_of_death }}</span>
        </div>
        {% endif %}


        {% if object.pen_name %}
        <div class="row">
          <span class="col-md-2"><b>{% trans "Pen name" %}:</b></span>
          <span class="col-md-10">{{ object.pen_name }}</span>
        </div>
        {% endif %}


        {% if object.genre %}
        <div class="row">
          <span class="col-md-2"><b>{% trans "Genre" %}:</b></span>
          <span class="col-md-10">{{ object.genre }}</span>
        </div>
        {% endif %}


        {% if  object.authors_name_in_other_language.all %}
        <div class="row">
          <span class="col-md-2"><b>{% trans "Author(s) in other language:" %}</b></span>
          <span class="col-md-10">

              {% for author in object.authors_name_in_other_language.all %}

                <!-- {# <a href="{% url 'author:author_detail' author.getname|slugify  author.pk %}">{{ author }}</a> #}-->
            <a href="/authors/{{ author.getname|slugify_unicode }}/{{ author.pk }}">{{ author }}</a>
                {%  if not forloop.last %}
                          ,
                {%  endif %}
              {% endfor %}
          </span>
        </div>
        {% endif %}





        </div>


          <br>


         {% if object.description %}
         <span class="description text-uppercase rounded text-black text-uppercase mb-2">
         <span class="border border-top-0 border-right-0 border-left-0 border-secondary title-font">{% trans "About" %} {{ object }}</span>
         </span><br><br>
         <span class="text-dark">
         {{ object.description }}
         </span>
         {% endif %}


    </div>
  </div>
</div>

{% endblock content %}
